<h3>Products</h3>

<div class="row">
  <% if current_user && current_user.admin %>
    <div class="section">
      <h5>Add a Product:</h5>
        <%=  %>
    </div>
  <% end %>
  <div class="section">
  <% @products.each do |product| %>
    <div class="col s4">
      <h4><%= link_to product.name, product_path(product, :show_id => product.id), id: "product_link#{product.id}", remote: true %></h4>

      <p><%= number_to_currency product.price %></p>
      <%= form_for @order_item, remote: true do |f| %>
        <%= f.hidden_field :product_id, value: product.id %>
        <%= f.number_field :quantity, placeholder: "Oops, breaks if you don't add input!", :min => 0 %>
        <span class="waves-effect waves-light btn"><%= f.submit "Add to cart" %></span>
      <% end %>
    </div>
  <% end %>
</div>
</div>
